{% extends 'layouts/master.html' %}
{% block tittle %}Nuevo Producto{% endblock %}
{% block body %}
{% if todos_errores %}
    {% for campo, errores in todos_errores %}
        {% for error in errores %}
            <div class="alert alert-danger">
                <p><strong>{{ campo }}: {{ error }}</strong></p>
                <p>DETECTADO HUMANO EXTERMINAR EXTERMINAR</p>
            </div>
        {% endfor %}
    {% endfor %}
    <img src="/static/img/daleks.jpg" class="img-responsive" alt="">
{% endif %}
<form action="{{ url_for('new_product') }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <p>
        {{ form.nombre.label }} {{ form.nombre() }}
    </p>
    <p>
        {{ form.precio.label }} {{ form.precio() }}
    </p>
    <p>
        {{ form.nombre.descripcion }} {{ form.descripcion() }}
    </p>
    <p>
        {{ form.imagen.label }} {{ form.imagen() }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}