<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Chat</h1>
    <table>
        {% for mensaje in mensajes %}
            <tr>
                <td>{{ mensaje.alias }}:</td>
                <td>{{ mensaje.text }}</td>
            </tr>
        {% endfor %}
    </table>
    <form action="{{ url_for('index') }}" method="post">
        <input type="text" name="alias" placeholder="Tu nombre" value="{{ alias }}"><br>
        <textarea name="mensaje" id="" cols="30" rows="10" placeholder="Tu mensaje"></textarea><br>
        <input type="submit">
    </form>
</body>
</html>