<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <h1>Contacto</h1>
  <ul id="errores"></ul>
  <form action="" method="post" class="container" onsubmit="enviarMensaje()">
    <div id="groupNombre" class="form-group">
      <label for="nombre" class="control-label">Nombre:</label>
      <input type="text" name="nombre" id="nombre" class="form-control">
    </div>
    <div class="form-group">
      <label for="email" class="control-label">Email:</label>
      <input type="text" name="email" id="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="edad" class="control-label">Edad:</label>
      <input type="text" name="edad" id="nombre" class="form-control">
    </div>
    <div class="form-group">
      <label for="mensaje">Mensaje:</label>
      <textarea name="mensaje" id="mensaje" class="form-control"></textarea>
    </div>
    <input type="submit" value="Enviar" class="btn">
  </form>
  <script>
    let nombre = document.querySelector('#nombre');
    let email = document.querySelector('#email');
    let mensaje = document.querySelector('#mensaje');
    let edad = document.querySelector('#edad');
    let enviarMensaje = function() {
    let groupNombre = document.querySelector('#groupNombre')
      //validar nombre
      if(nombre.value.length == 0) {
        groupNombre.classList.add('has-error');
        groupNombre.querySelector('label').innerHTML = 'Debes rellenar el nombre';
        return false;
      }
      return true
    }
  </script>
</body>
</html>
